<div class="card-block">
  <app-loading *ngIf="loading"></app-loading>
</div>

<ng-template [ngIf]="utils.isLoaded(loading)">

  <section class="list-group">
    <div class="card-block">
      <p *ngIf="!todos.length" class="lead">There are currently no TODOs for this list.</p>
      <p *ngIf="todos.length" class="lead">There are currently {{utils.displayCount(todos.length)}} for this list.</p>
    </div>
    <div class="card-block">
      <div class="form-inline text-center">
        <label class="mr-sm-2" for="newTodo">New todo:</label>
        <input #newTodo
               class="form-control"
               id="newTodo"
               (keyup.enter)="addTodo(newTodo.value); newTodo.value=''"
               (blur)="addTodo(newTodo.value); newTodo.value=''"/>
        <button class="btn btn-success btn-md mr-sm-2"
                (click)="addTodo(newTodo.value); newTodo.value=''">
          Add
        </button>
      </div>
    </div>

    <div *ngFor="let todo of todos" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
         <div class="checkbox">
           <label style="font-size: 2em">
             <input type="checkbox" [checked]="todo.done" (change)="onCheck(todo, $event);">
             <span class="cr" title="check"><i class="cr-icon fa fa-check"></i></span>
             {{todo.title}}
           </label>
         </div>
        <button class="btn btn-danger btn-md"
                (click)="deleteTodo(todo);"
                title="delete"><i class="cr-icon fa fa-trash"></i></button>
      </div>
      <div>
        <label class="mr-sm-2" for="comment"><strong>comment:</strong></label>
          <input #comment
                 id="comment"
                 class="form-control"
                 (keyup.enter)="onEnterComment(todo, comment.value);"  value="{{todo.comments}}"
                 (blur)="onEnterComment(todo, comment.value);"  value="{{todo.comments}}">
      </div>
      <!--<p *ngIf="utils.validURL(todo.comments)">-->
        <!--<a href="{{todo.comments}}">link</a>-->
      <!--</p>-->
    </div>
  </section>

  <!-- Error loading RSVPs -->
  <div *ngIf="error" class="card-block">
    <p class="alert alert-danger">
      <strong>Oops!</strong> There was an error retrieving TODOs for this list.
    </p>
  </div>
</ng-template>

<!-- Footer showing # of total attending guests -->
<!--<div class="card-footer text-right">-->
  <!--<small *ngIf="totalAttending >= 0" class="text-muted">{{utils.displayCount(totalAttending)}} {{footerTense}}</small>-->
<!--</div>-->
